<a href="https://colab.research.google.com/github/sudo-lofi/AnaliseExploratoria/blob/main/notebooks_Projeto_Ciencia_de_dados'_Dataset_LimpezaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro, devemos importar as bibliotecas que ser√£o utilizadas

In [ ]:
import pandas as pd

%matplotlib inline

In [ ]:
filename = 'Dataset/movies.csv'
df = pd.read_csv(filename)

In [ ]:
df.head()

,e (2016),Crime|Drama
157961,Synchronicity (2015),Mystery|Sci-Fi|Thriller
157963,The Final Comedown (1972),Drama
157965,Red Dot on the Ocean (2014),Adventure|Documentary
157967,The Gits (2008),(no genres listed)
157969,Glass: A Portrait of Philip in Twelve Parts (2...,Documentary

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16057 entries, 157961 to 193886
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   e (2016)     16057 non-null  object
 1   Crime|Drama  16057 non-null  object
dtypes: object(2)
memory usage: 250.9+ KB

Vamos renomear o nome das colunas para ficar mais entendivel

In [ ]:
df = df.rename(columns={'e (2016)': 'Nome', 'Crime|Drama': 'Genero'})
df.head()

,Nome,Genero
157961,Synchronicity (2015),Mystery|Sci-Fi|Thriller
157963,The Final Comedown (1972),Drama
157965,Red Dot on the Ocean (2014),Adventure|Documentary
157967,The Gits (2008),(no genres listed)
157969,Glass: A Portrait of Philip in Twelve Parts (2...,Documentary